{% extends 'layout.twig' %}

{% block css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.0.6/sweetalert2.min.css" />
{% endblock %}

{% block content %}
    <div class="container">

        <h1>{{ webInfo.h1 }}</h1>
        {% if distros.count %}
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Logo</th>
                    <th>Name</th>
                    <th>Os Type</th>
                    <th>Version</th>
                    <th>Web</th>
                    <th>Editar</th>
                    <th>Borrar</th>
                </tr>
                </thead>
                <tbody>
                {% for distro in distros %}
                    <tr>
                        <td><a href="distros/{{ distro.id }}"><img src="{{ distro.image }}" alt="Logo de {{ distro.name }}" class="logo"></a></td>
                        <td><a href="distros/{{ distro.id }}">{{ distro.name }}</a></td>
                        <td>{{ distro.basedon }}</td>
                        <td>{{ distro.version }}</td>
                        <td>{{ distro.web }}</td>
                        <td>
                            <a href="/distros/edit/{{ distro.id }}" class="editar btn btn-link">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                            </a>
                        </td>
                        <td>
                            <form action="/distros" method="POST" id="deleteDistro-{{ distro.id }}">
                                <input type="hidden" name="id" value="{{ distro.id }}">
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit" id="deleteForm" class="btn btn-link btn-alert" onclick="deleteDistro({{ distro.id }})"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        {% else %}
            <h2>No hay resultados. Busca por otros criterios, porfiplis!!!</h2>
        {% endif %}
    </div><!-- /.container -->
{% endblock %}

{% block js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.0.6/sweetalert2.min.js"></script>
    <script src="{{  '' | url }}js/app.js"></script>
{% endblock %}
